{
  "title" "Three-body Stillinger-Weber (SW) Model Driver"
  "extended-id" "Three_Body_Stillinger_Weber__MD_335816936951_002"
  "author" "Mingjian Wen"
  "description" "This is a model driver for the generalized Stillinger-Weber (SW) three-body potential supporting multiple species. It is consistent with 'pair_style sw' in the LAMMPS package, but the parameter file has a different format and the driver is less general than the LAMMPS implementation. Specifically, in the KIM parameter file, only independent pairwise parameters are read in and the three-body parameters are generated through geometric averaging. In addition, the costheta_0 parameter is assumed to be the same for all three-body interactions and the tolerance parameter introduced in LAMMPS for efficiency is not supported. See the README file for details. A Python utility \"lammps_sw_2_kim_sw.py\" is provided to translate LAMMPS pair_style sw parameter files to the KIM model driver format."
  "source-citations" [{"title" "Computer simulation of local order in condensed phases of silicon"
                       "author" "Stillinger, Frank H. and Weber, Thomas A."
                       "journal" "Physical Review B"
                       "volume" "31"
                       "issue" "8"
                       "pages" "5262--5271"
                       "year" "1985"
                       "month" "Apr"
                       "publisher" "American Physical Society"
                       "doi" "10.1103/PhysRevB.31.5262"
                       "url" "https://link.aps.org/doi/10.1103/PhysRevB.31.5262"
                       "recordtype" "article"
                       "recordkey" "MD_335816936951_002a"}
                       {"title" "Modeling Materials: {C}ontinuum, Atomistic and Multiscale Techniques"
                       "author" "Tadmor, Ellad B. and Miller, Ronald E."
                       "year" "2011"
                       "publisher" "Cambridge University Press"
                       "doi" "10.1017/CBO9781139003582"
                       "recordtype" "book"
                       "recordkey" "MD_335816936951_002b"}
                       {"title" "Stillinger-Weber potential for the II-VI elements Zn-Cd-Hg-S-Se-Te"
                       "author" "Zhou, X. W. and Ward, D. K. and Martin, J. E. and van Swol, F. B. and Cruz-Campa, J. L. and Zubia, D."
                       "journal" "Physical Review B"
                       "volume" "88"
                       "issue" "8"
                       "pages" "085309"
                       "numpages" "14"
                       "year" "2013"
                       "month" "Aug"
                       "publisher" "American Physical Society"
                       "doi" "10.1103/PhysRevB.88.085309"
                       "url" "https://link.aps.org/doi/10.1103/PhysRevB.88.085309"
                       "recordtype" "article"
                       "recordkey" "MD_335816936951_002c"}]
  "contributor-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
  "maintainer-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
  "publication-year" "2016"
  "kim-api-version" "1.6"
  "executables" ["lammps_sw_2_kim_sw.py"]
  "domain" "openkim.org"
}
