{"author" "Mingjian Wen"
 "contributor-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
 "description" "This is a model driver for the generalized Stillinger-Weber (SW) three-body potential supporting multiple species."
 "doi" "10.25950/f3abd2d6"
 "domain" "openkim.org"
 "executables" ["CreateDispatch.sh" "lammps_sw_2_kim_sw.py"]
 "extended-id" "SW__MD_335816936951_004"
 "kim-api-version" "2.0"
 "maintainer-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
 "publication-year" "2018"
 "simulator-potential-compatibility" [{"compatibility" "partial"
                                       "compatibility-notes" "This driver is consistent with 'pair_style sw' in the LAMMPS package, but the parameter file has a different format and the driver is less general than the LAMMPS implementation. Specifically, in the KIM parameter file, only independent pairwise parameters are read in and the three-body parameters are generated through geometric averaging. In addition, the costheta_0 parameter is assumed to be the same for all three-body interactions and the tolerance parameter introduced in LAMMPS for efficiency is not supported. See the README file for details. A Python utility \"lammps_sw_2_kim_sw.py\" is provided to translate LAMMPS 'pair_style sw' parameter files to the KIM model driver format."
                                       "potential-type" "sw"
                                       "simulator-name" "LAMMPS"}]
 "source-citations" [{"author" "Stillinger, Frank H. and Weber, Thomas A."
                      "doi" "10.1103/PhysRevB.31.5262"
                      "issue" "8"
                      "journal" "Physical Review B"
                      "month" "Apr"
                      "pages" "5262--5271"
                      "publisher" "American Physical Society"
                      "recordkey" "MD_335816936951_004a"
                      "recordtype" "article"
                      "title" "Computer simulation of local order in condensed phases of silicon"
                      "volume" "31"
                      "year" "1985"}
                     {"author" "Tadmor, Ellad B. and Miller, Ronald E."
                      "doi" "10.1017/CBO9781139003582"
                      "publisher" "Cambridge University Press"
                      "recordkey" "MD_335816936951_004b"
                      "recordtype" "book"
                      "title" "Modeling Materials: {C}ontinuum, Atomistic and Multiscale Techniques"
                      "year" "2011"}
                     {"author" "Zhou, X. W. and Ward, D. K. and Martin, J. E. and van Swol, F. B. and Cruz-Campa, J. L. and Zubia, D."
                      "doi" "10.1103/PhysRevB.88.085309"
                      "issue" "8"
                      "journal" "Physical Review {B}"
                      "month" "Aug"
                      "numpages" "14"
                      "pages" "085309"
                      "publisher" "American Physical Society"
                      "recordkey" "MD_335816936951_004c"
                      "recordtype" "article"
                      "title" "Stillinger-Weber potential for the {II-VI} elements {Zn-Cd-Hg-S-Se-Te}"
                      "volume" "88"
                      "year" "2013"}]
 "title" "Stillinger-Weber (SW) Model Driver v004"}
